<div class="flex flex-col gap-4">
  <h1 class="text-4xl">Must Watch Movies</h1>
  <div class="flex flex-wrap justify-evenly items-center gap-2">
    @for (movie of topRatedMovies.results; track movie.id) {
    <app-cards
      [data]="movie"
      [type]="'movie'"
      [title]="movie.title"
      class="lg:hover:transition-all lg:duration-200 lg:hover:scale-105 lg:hover:shadow-lg rounded-xl"
    />
    }
  </div>
  <div class="flex justify-end gap-4">
    <button mat-button (click)="previousPage()" [disabled]="currentPage === 1">
      Prev
    </button>
    <button
      mat-flat-button
      (click)="nextPage()"
      [disabled]="currentPage === topRatedMovies.total_pages"
    >
      Next
    </button>
  </div>
</div>
