<div class="example-container" [class.example-is-mobile]="isMobile()">
  <mat-toolbar class="example-toolbar flex justify-between z-[1000]">
    <button mat-icon-button (click)="snav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <h1 class="example-app-name flex-1">MoviesFlix</h1>
    <form [formGroup]="searchField" (ngSubmit)="submit()">
      <input formControlName="name" type="text" class="w-60 px-2 py-1 outline-none bg-purple-100 rounded-md text-pink-800">
    </form>
  </mat-toolbar>

  <mat-sidenav-container
    class="example-sidenav-container"
    [style.marginTop.px]="isMobile() ? 56 : 0"
  >
    <mat-sidenav
      #snav
      class="custom-sidenav"
      [mode]="isMobile() ? 'over' : 'side'"
      [fixedInViewport]="isMobile()"
      fixedTopGap="56"
    >
      <mat-nav-list>
        <a mat-list-item class="list-items" >Trending Movies</a>
        <a mat-list-item class="list-items">Trending Shows</a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <main class="m-6 min-h-full">
        <router-outlet/>
      </main>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
