<div class="flex flex-col gap-4">
  <h1 class="text-4xl">Trends of the Week</h1>
  <div class="flex justify-between items-center gap-2">
    @for (movie of trendingMovies.slice(0,5); track movie.id) {
    <app-cards
      [data]="movie"
      [type]="'movie'"
      [title]="movie.title"
      class="hover:transition-all duration-200 hover:scale-105 hover:shadow-lg rounded-xl"
    />
    }
    <a class="flex flex-col items-center" [routerLink]="['/trending/movies']">
      <mat-icon>arrow_circle_right</mat-icon>
      view all
    </a>
  </div>
  <div class="flex justify-between items-center gap-2">
    @for (show of trendingShows.slice(0,5); track show.id) {
    <app-cards
      [data]="show"
      [type]="'show'"
      [title]="show.original_name"
      class="hover:transition-all duration-200 hover:scale-105 rounded-xl"
    />
    }
    <a class="flex flex-col items-center" [routerLink]="'/trending/shows'">
      <mat-icon>arrow_circle_right</mat-icon>
      view all
    </a>
  </div>
</div>
