<div class="flex flex-col gap-8">
  @if (details) {
    <!-- Backdrop Section -->
    <div
      class="w-full h-[30rem] relative bg-cover bg-center rounded-xl overflow-hidden"
      [style.background-image]="'url(https://image.tmdb.org/t/p/w500' + details.backdrop_path + ')'"
    >
      <div class="absolute inset-0 bg-black bg-opacity-70 rounded-xl"></div>

      <div
        class="relative z-10 flex flex-col md:flex-row justify-between items-center h-full text-white px-6 md:px-16 py-10 gap-8 md:gap-10"
      >
        <img
          [src]="'https://image.tmdb.org/t/p/w500' + details.poster_path"
          class="w-40 md:w-56 rounded-xl shadow-lg"
          [alt]="details.name + ' poster'"
        />

        <div class="flex-1 flex flex-col gap-4">
          <h1 class="text-3xl md:text-4xl font-bold">{{ details.name }}</h1>

          @if(details.number_of_seasons>1){
            <h4 class="text-lg md:text-xl font-semibold">
              ({{ details.first_air_date | date : "yyyy" }} -
              {{ details.last_air_date | date : "yyyy" }})
            </h4>
          }
          @else {
            <h4 class="text-lg md:text-xl font-semibold">
              Since
              {{ details.first_air_date | date : "yyyy" }}
            </h4>
          }

          <div class="flex gap-3 items-center">
            <mat-progress-spinner
              mode="determinate"
              strokeWidth="5"
              diameter="40"
              [value]="details.vote_average * 10"
            ></mat-progress-spinner>
            <h4 class="text-lg font-medium">
              {{ Math.round(details.vote_average * 10) }}% Audience Score
            </h4>
          </div>

          <h3 class="text-xl md:text-2xl font-semibold">Overview</h3>
          <p class="text-sm md:text-base leading-relaxed">{{ details.overview }}</p>

          <div class="flex flex-wrap gap-2">
            @for (genre of details.genres; track $index) {
              <span class="bg-gray-700 px-2 py-1 rounded text-sm">{{ genre.name }}</span>
            }
          </div>
        </div>
      </div>
    </div>

    <!-- Seasons -->
    @for (season of details.seasons.slice(0,2); track $index) {
      <div class="shadow-lg p-6 border border-neutral-300 rounded-xl flex flex-col gap-4 bg-white">
        <div class="flex flex-col md:flex-row gap-6 items-start">
          <img
            [src]="'https://image.tmdb.org/t/p/w500' + season.poster_path"
            class="w-25  rounded-xl shadow"
            [alt]="details.name + ' Season ' + season.season_number + ' poster'"
          />

          <div class="flex flex-col gap-3 w-full justify-between">
            <div class="flex flex-col md:flex-row justify-between w-full">
              <div>
                <h4 class="text-xl font-semibold">Season {{ season.season_number }}</h4>
                <p class="text-sm text-gray-600">Episodes: {{ season.episode_count }}</p>
              </div>
              <div class="text-sm text-gray-700 mt-2 md:mt-0">
                <p><span class="font-medium">Aired on:</span> {{ season.air_date | date }}</p>
                <div class="flex items-center gap-2 mt-1">
                  <span class="font-medium">Rating:</span>
                  <span>{{ season.vote_average }}</span>
                  <mat-icon>star</mat-icon>
                </div>
              </div>
            </div>
            <div>
              <h4 class="text-lg font-semibold">Overview</h4>
              <p class="text-sm text-gray-700 leading-relaxed">{{ season.overview }}</p>
            </div>
          </div>
        </div>
      </div>
    }
    @if(details.seasons.length>2){
      <a href="" class="flex items-center justify-center">
        <mat-icon>arrow_forward_ios</mat-icon>
        View All Seasons
      </a> 
    }
  }
  
  @if (showCredits) {
    <app-cast-crew [credits]="showCredits" />
  }
</div>
